.image_files {
    width: 91%;
    height: 90px;
    position: absolute;
    z-index: 3;
    opacity: 0;
    cursor: pointer;
}

.choosen-images-block {
    display: flex;
    position: relative;
    flex-wrap: wrap;
    gap: 1px;
}

.chs-image {
    width: 27%;
    margin-right: 10px;
    position: relative;
    margin-bottom: 10px;
    border: 1px solid #e4e6ef;
    border-radius: 2px;
}

.chs-image img {
    object-fit: cover;
    width: 100%;
}

.chs-image span {
    border: 1px solid #828592;
    border-radius: 25px;
    display: block;
    text-align: center;
    width: 20px;
    position: absolute;
    height: 20px;
    right: -5px;
    cursor: pointer;
    background: #fff;
    top: -5px;
}

.published, .delivered {
    color: #50cd89;
    background-color: #e8fff3;
}

.scheduled {
    color: #009ef7;
    background-color: #f1faff;
}

.inactive, .accepted {
    color: #f1416c;
    background-color: #fff5f8;
}


.color-block, .color-items {
    position: absolute;
    width: 50px;
    right: 35px;
    top: 25px;
    height: 50px;
    background: red;
    padding: 0;
    outline: none;
    border: none;
    border-radius: 25px;
}