{% extends 'main/base.html' %}
{% load static %}
{% load thumbnail %}


{% block title %} Главная {% endblock %}


{% block content %}
    <div class="content">
        <div class="deckriptor">
            <img src="{% static 'main/img/main-foto.webp' %}" alt="">
            <div class="desk-text">
                <h1>ALWAYS BE <br> ORIGINAL</h1>
                <h6>NEW ARRIVALS ARE HERE</h6>
                <a href="{% url 'cotalog' %}" class="cotalog-btn btn-base">Shop Now</a>        
            </div>
        </div>  
        <div class="block products-cotalog-block">
            <h4 class="lim-ed">LIMITED EDITION COLLECTION</h4>
            <div class="prod-cotalog">
                {% for prod in products %}
                    <div class="product-card">
                        <a class="images-block" href="{% url 'products-page' prod.id %}">
                            {% if prod.get_default.image.all.count > 0 %}
                                {% for src in prod.get_default.image.all|slice:'2' %}
                                    <img src="{{ src.file.product_img.url }}" alt="" class="prod-img">              
                                {% endfor %}
                            {% else %}
                                <img src="{{ prod.avatar.product_img.url }}" alt="" class="prod-img">
                            {% endif %}

                        </a>
                        <span class="drop-up-span open-modal" data-url="{% url 'modal-data' prod.id %}">Quick View</span>
                        <p class="prod-name" data-sku="0001">{{ prod.prod_name }}</p>
                        <p class="prod-price">${{ prod.get_default.price }}</p>
                        <button class="add-cart btn-base open-modal" data-url="{% url 'modal-data' prod.id %}">Add to Cart</button>
                    </div>
                {% endfor %}
            </div>
            <a href="{% url 'cotalog' %}" class="show-all-btn btn-base cotalog-btn">Show All</a>
            {% block form %}
            {% endblock %}
            
        </div>


        <!--MODAL!!!!!-->
        
        <!--MODALS END!!!!!!!!!!-->


    </div>
    <div class="block inst-block">
        <div class="content">
            <h4 style="margin-bottom:30px ;">#INSTAGRAM</h4>
            <div class="elfsight-app-7161e0f8-12db-41f5-813c-eb874f77f2c4"></div>
        </div>
        
    </div>
    <div class="hide-block modal-w modal-block ext-modal main-black">
        <div class="modal-deteils modal-w active" id="modal-1">
            <button class="exit-btn ext-modal">×</button>
            <div class="slider sides">
                <div class="slider-items-img" id="prod-imgs"></div>
                <div class="dots"></div>
            </div>
            <div class="sides form-wrapper">
                <form data-url="{% url 'get_var' %}" action="{% url 'add_to_cart' %}" id="product-form" method="POST"
                    class="add-form">
                    {% csrf_token %}
                    <p class="name-inp"></p>
                    <input type="hidden" name="variant">
                    <input type="hidden" name="url" value="{{ request.get_full_path }}">
                    <p class="price-inp" id="price"></p>
                    <label for="" class="sku-inp sku-inp-prodp">SKU:</label>
                    <input type="text" class='sku-inp read-only' , id='pk' , name="product" readonly><br>
    
                    <label class="form-label">Color</label><br><br>
                    <select name="color" id="colors-select" class="select-atribut" required></select>
                    <span class="atributs-wrapper"></span>
    
                    <div class="d-flex total-and-modal" style="height: 90px;">
                        <div>
                            <label for="quant" class="sec-type" style="margin-top: 13px;">Quantity</label><br>
                            <input type="number" name="quantity" class="act-inp" min="1" value="1" id="nbm-inp" required="">
                        </div>
    
                        <div>
                            <label for="quant" class="sec-type" style="margin-top: 13px;">Total price</label><br>
    
                            <div class="style-span">
                                <input type="number" class="act-inp" id='total-inp' style='margin-right: -20px;' readonly>
                                <span class="dollar-symb">$</span>
                            </div>
                            <br>
                        </div>
                    </div>
                    <div class="btn-block">
                        <span class="none" id="in_cart">
                            <input name="_cart" type="submit" style="color: #fff;" class="sbm-btn btn-base qw change-prod"
                                value="Save Changes">
                            <button data-delurl="" data-utl="{% url 'delete' 1 %}" data-id=""
                                class="sbm-btn btn-base white del-btn">
                                <span class="material-symbols-outlined">
                                    delete
                                </span>
                            </button>
                        </span>
                        <span class="none" id="not_in_cart">
                            <input name="_cart" type="submit" class="sbm-btn btn-base" style="color: #fff;"
                                value="Add to Cart">
                        </span>
    
                    </div>
                    <a href="" class="more-detail-a">View More Details</a>
    
                    <br>
                </form>
    
            </div>
        </div>
    </div>

    <script src="https://apps.elfsight.com/p/platform.js" defer></script>
    <script src="{% static 'main/js/get_modal.js' %}"></script>
{% endblock %}



